
<div class="container">
  <%= form_tag('/cmis/search', :method => :get) do %>
    <%= submit_tag 'Search', :class => 'btn primary' %> ... Search alfresco repository
  <% end %>
  <%= form_tag('/cmis/explore', :method => :get) do %>
    <%= submit_tag 'Explore', :class => 'btn primary' %> ... Explore alfresco repository
  <% end %>
</div>
