
<div class="container">
  <%= form_tag('/cmis/search', :method => :get) do %>
    <%= submit_tag 'Search', :class => 'btn primary' %> ... search alfresco repository
  <% end %>
  <button class="btn default">Explorer</button> ... explorer alfresco repository
</div>
